# ---------------------------------
#  System           platform value
# ---------------------------------
#  Windows          "win32"
# ---------------------------------
certifi==2025.4.26
charset-normalizer==3.4.2
colorama==0.4.6
configparser~=7.2.0
darkdetect==0.8.0
idna==3.10
loguru~=0.7.2
PyQt5==5.15.11
PyQt-Fluent-Widgets~=1.7.7
pyqt5-frameless-window==0.6.0
pywin32==310
psutil==6.1.1; platform_system == "Windows"
requests==2.32.3
urllib3==2.2.3
win32-setctime==1.1.0
PyQtWebEngine~=5.15.7
Markdown~=3.7
pygame~=2.6.1
packaging~=24.2
PyGetWindow~=0.0.9
edge-tts~=7.0.2
pyttsx3==2.98
python-dateutil==2.8.2
git+https://github.com/SmartTeachCN/pycses.git
